
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<div class="container">
    <div class="row">
         <div class="col-md-6">
             @Html.TextBox("name","malek")
         </div>
         <div class="col-md-6">
             @Html.TextBox("Number", "malek")
         </div>
    </div>
</div>